html{
    background-color: #0B0C0E;
    padding: 0px;
    overflow-x: hidden;
}
body{
    margin: 0px;
}
.grilla{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50px 600px 1000px 100px 450px 100px 440px 600px 100px;
    grid-template-areas:
    "header-area header-area header-area header-area"
    "main-area main-area main-area main-area"
    "beneficio-area beneficio-area beneficio-area beneficio-area"
    ". . . ."
    "com-area com-area com-area com-area"
    ". . . ."
    "icon-area icon-area icon-area icon-area"
    "lv-area lv-area lv-area lv-area"
    "footer-area footer-area footer-area footer-area"
}

.Beneficios{
    background-color: #101214;
    width: 100%;
    background-image: url(./Imagenes/Vec.png);
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-area: beneficio-area;
}
.Beneficios h2{
    color: white;
    margin-left: 4%;
    text-align: left;
    font-family: Roboto Condensed, Bold;
    font-size: 40px;
}
.tarj1{
 width: 900px;
 height: 350px;
 display: flex;
 align-items: center;
 flex-direction: column;
 padding: 20px;
 border-radius: 0px 20px 20px 0px;
 background-color: #090A0C;
}
.tarj1 img{
    width: 400px;
}
.tarj1 h3{
    color: #E20703;
    font-size: 35px;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 6%;
    font-family: Titillium web, Bold;
}
.tarj1 p{
    font-size: 24px;
    margin-left: 25%;
    margin-right: 0;
}
.tarj2{
    width: 900px;
    height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #090A0C;
    border-radius: 20px 0px 0px 20px;
    margin-left: auto;
   }
   .tarj2 h3{
       color: #E20703;
       font-size: 35px;
       text-align: left;
       margin-bottom: 10px;
       margin-left: 25%;
       font-family: Titillium web, Bold;
   }
   .tarj2 p{
       font-size: 24px;
       margin-left: 32%;
       margin-right: 0%;
   }
   .tarj2 img{
    width: 400px;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: auto;
    box-sizing: border-box;
    background-color: #0B0C0E;
    justify-content: space-between;
    grid-area: main-area;
}
div.portada-izquierda {
    flex: 1;
    margin-right: 10rem;
    padding-top: 10px;
  }
div.portada-derecha{
    width: auto;
    justify-content: right;
    margin-left: 60%;
    margin-top: -550px;
    margin-right: auto;
}
.imagen1{
    width: 100%; /* Hacer que la imagen ocupe el 100% del ancho del contenedor */
    height: auto; /* Mantener la proporción de la imagen */
    max-width: 700px;
    max-height: 1421px; /* Tamaño máximo para la imagen */
}
.val{
    width: 398px;
    height: 581px;
    margin-top: -40%;
    margin-right: auto;
}
.apex{
    width: 500px;
    height: 500px;
    margin-top: -35%;
    margin-right:65%;
}

header{
    background-color: #0A0B0D;
    color: white;
    grid-area: header-area;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 20px;
    margin-right: 10px;
}
.navbar a{
    position: relative;
    color: white;
    font-family: Roboto Condensed, Bold;
    font-size: 24px;
    text-decoration: none;
    margin-left: 40px;
}
.navbar a:hover{
    color:#ca0d0d;
}

.com{
    background-color: #980A0A;
    grid-area: com-area;
}
.com h2{
    margin-top: 2%;
    font-size: 50px;
}
/* Carrusel comentarios*/


.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    grid-area: com-area;
}
.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}
.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}
.carousel-item img {
    width: 100%;
    vertical-align: top;
}
.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.carousel-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: -110px;
}
.carousel-indicators button {
    background-color: #3A0808;
    border: none;
    padding: 5px;
    margin: 0 2px;
    cursor: pointer;
    border-radius: 50%;
}
.carousel-indicators button.active {
    background-color: white;
}


.icon{
    background-color: #101214;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
    grid-area: icon-area;
}
.minitarjeta{
    width: 200px;
}
.minitarjeta img{
    width: 50%;
    padding: 30px;
}
.icon h2{
    font-size: 30px;
    text-align: left;
}
.lv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: lv-area;
    padding: auto; /* Espacio alrededor del contenido */
    box-sizing: border-box; /* Incluye padding en el tamaño del contenedor */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    max-width: 1200px; /* Máximo ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor */
}
.lv img{
    width: 70%; 
    height: auto; 
    max-width: 948px; 
}
.titulofinal{
    display: flex;
    flex-direction: column;
    margin-right: 10rem;
    padding-top: 10px;
    align-items: left;
}
.titulofinal h1{
    color: white;
    display: flex;
    margin-left: 10%;
    margin-right: 45%;
    font-size: 64px;
    text-align: left;
    font-family: Roboto Condensed, Bold;
}
.lv a{
    text-decoration: none;
    background-color: #ca0d0d;
    padding: 5px 5px;
    margin-left:10%;
    margin-right: 70%;
    color: white;
    text-align: center;
    font-family: titillium web;
    font-size: 24px;
    border-radius: 5%;
    display: inline-block;
}
.imagenfinal{
    width: 100%; /* Ocupar el 100% del ancho disponible */
    height: auto; /* Mantener la proporción de la imagen */
    max-width: 910px; /* Tamaño máximo para la imagen */
    margin-top: -25%;
    align-self: flex-end;

}
footer{
    /*text-align: left;*/
    background-color: #101214;
    color:  white;
    grid-area: footer-area;
}
 .titulo1{
    color: white;
    margin-left: 10%;
    margin-right: 35%;
    font-size: 60px;
    text-align: left;
    font-family: Roboto Condensed, Bold;

}

.titulo2{
    color: white;
    display: flex;
    margin-left: 10%;
    margin-right: 45%;
    font-size: 64px;
    text-align: left;
    font-family: Roboto Condensed, Bold;

}
.subtitulo1{
    margin-left: 10%;
    margin-right: 35%;
    font-size: 28px;
    text-align: left;
    font-family: Roboto Condensed, Regular;
    margin-top: -35px;
}
.subtitulo3{
    color: #E20703;
    margin-left: 10%;
    margin-right: 35%;
    font-size: 40px;
    text-align: left;
    font-family: Titillium web, Bold;
    margin-bottom: -50px;
    margin-top: -10px;
}
.subtitulo4{
    color: #E20703;
    margin-left: 55%;
    margin-right: 5%;
    font-size: 40px;
    text-align: left;
    font-family: Titillium web, Bold;

}
 p{
    color: white;
    font-size: 32px;
    font-family: Titillium web, Bold;
 }
  h2{
    color: white;
    margin-left: 4%;
    text-align: left;
    font-family: Roboto Condensed, Bold;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.boton{
    text-decoration: none;
    background-color:  #ca0d0d;
    padding: 5px 20px;
    color: white;
    margin-left: 10%;
    text-align: left;
    font-family: titillium web;
    font-style: bold;
    font-size: 24px;
    border-radius: 5%;
}
/*.boton:hover{
    -webkit-box-shadow: 0px 0px 63px 1px rgba(255,0,0,1);
    -moz-box-shadow: 0px 0px 63px 1px rgba(255,0,0,1);
    box-shadow: 0px 0px 63px 1px rgba(255,0,0,1);
}*/
h3{
    color: white;
    margin-left: 10%;
    text-align: left;
    font-family: titillium web;
    font-style: bold;
    font-size: 24px;
}
.et2{
    margin-left: 55%;
    margin-right: 5%;
}


.formtit{
    color: #ffffff;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 60%;
    font-size: 60px;

    text-align: left;
    font-family: Titillium web, Bold;
}
.textform{
    color: #ffffff;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 40%;
    font-size: 30px;
    text-align: left;
    font-family: Titillium web, Bold;
}

.boton1{
margin-left: 800px;
}

.boton2{
margin-left: 800px;
    }
.boton3{
margin-top: 10px;
margin-left: 700px;
 }

 .ok{
margin-left: 80px;   
margin-top: 100px;
 }


 input [type="submit"] {
    background-color: #E20703;
    border:none;
    padding: 20px;
    color: #ffffff;
    cursor: pointer; 
}

.feedback{
    color: #ffffff;
    padding: 20px;
    margin-top: 100px;
}

.oculto{
    display: none !important;
}
 

 
@media screen and (max-width: 600px) {
    html, body{
        background-color: #0B0C0E;
        margin: 0px;
    }
    .grilla{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 50px 50px;
        grid-template-rows:50px 1300px 1000px 100px 550px 100px 440px 600px 100px;
    }
    div.main{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: auto;
        box-sizing: border-box;
        justify-content: space-between;

      }
    .titulo1{
        text-align: left;
        width: 100%;
        font-size: 64px;
    }
    .subtitulo1{
        text-align: left;
        width: 100%;
    }
    .subtitulo3{
        margin-bottom: 700px;
    }
      div.portada-izquierda {
        display: block;
        flex-direction: column;
        align-items: left;
        justify-content: space-between;
      }
    
      div.portada-derecha {
        display: flex;
        height: auto;
        width: 100%;
        align-items: center;
        margin-left: 0;
        margin-top: 3rem;
        justify-content: center;
      }
      .imagen1{
        width: 100%; 
        height: auto; 
        max-width: auto;
        max-height: 1000px;
        margin-top: -1700;
    }
    .boton{
        text-decoration: none;
        background-color:  #ca0d0d;
        padding: 10px 75px;
        color: white;
        margin-left: 10%;
        text-align: left;
        font-family: titillium web;
        font-style: bold;
        font-size: 40px;
        border-radius: 5%;
    }
    .Beneficios{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .tarj2{
        margin-left: 0%;
    }
    .com{
        display: flex;
        width: auto;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .icon{
        display: flex;
        width: auto;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        grid-area: icon-area;
    }
    
}
